<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--常规设置-->
			<!--相关路径-->
			<add key="database_location" value="0"/>	<!--数据库模式-->
			<add key="database_location_path" value=""/>	<!--数据库路径-->
			<add key="workspace_location" value="0"/>	<!--工作区模式-->
			<add key="workspace_location_path" value=""/>	<!--工作区路径-->
			<add key="json_location" value="0"/>	<!--Json文件存储模式-->
			<add key="json_location_path" value=""/>	<!--Json文件路径-->


		<!--语言 & 字体-->
			<add key="language" value="0"/>		<!--语言-->
			<add key="font" value="0"/>			<!--字体-->
			<add key="font_size" value="0"/>		<!--字体大小-->
		
			<!--消息通知-->
			<add key="auto_off_time" value="0"/>		<!--自动关闭时间-->
		
			<!--其他-->
			<add key="boot" value="False"/>		<!--开机启动-->
			<add key="auto_check_update" value="True"/>		<!--自动检查更新-->
			<add key="exit_program_mode" value="0"/>		<!--退出程序模式-->
		
		<!--个性化设置-->
			<!--启动 & 界面-->
			<add key="apply_theme" value=""/>	<!--应用主题-->
			<add key="home_background" value=""/>	<!--主页背景-->
			<add key="home_search_engine" value="BaiDu"/>	<!--主页搜索引擎-->
			<add key="startup_pic_mode" value=""/>	<!--启动图片模式-->
			<add key="startup_pic" value=""/>	<!--启动图片(仅用户选择固定启动图)-->
		
			<!--地图-->
			<add key="layer_pop_mode" value="Push"/>		<!--图层弹出模式-->
	</appSettings>
</configuration>